<div id="<%= dom_id team %>">
  <p>
    <strong>Coach:</strong>
    <%= team.coach_id %>
  </p>

  <p>
    <strong>Players:</strong>
    <%= team.players_id %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= team.name %>
  </p>

</div>
