<div id="<%= dom_id team %>">
  <p>
    <strong>Coach:</strong>
    <%= team %>
  </p>

  <p>
    <strong>Players:</strong>
    <%= team %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= team %>
  </p>

</div>
