<p style="color: green"><%= notice %></p>

<h1>Absences</h1>

<div id="absences">
  <% @absences.each do |absence| %>
    <%= render absence %>
    <p>
      <%= link_to "Show this absence", absence %>
    </p>
  <% end %>
</div>

<%= link_to "New absence", new_absence_path %>
