@media screen and (max-width: 991px) { /* Adjust 600px to your requirement */
  .mobile-tables {
      display: none;
    }

    .mobile-container{
      width: 100%
    }
}

.mobile-tables {
  display: 'inline-block';
}

.mobile-container{
      width: 50%
    }
    
.circle-icon, .show-circle-icon {
  /* Adjusted properties for mobile */
  position: absolute;
  left: 30%;
  top: 50%;
}
  
.show-circle-icon {
  /* Additional adjustments for .show-circle-icon if needed */
  left: 16%;
  top: 30%;
}


.circle-icon, .show-circle-icon {
    /* Common properties */
    border-radius: 50%;
    border-color: var(--quaternary);
    border-width: 3px;
    background-color: var(--primary);
    padding: 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
    width: 40px;
    height: 40px;
  }
  
  .circle-icon {
    /* Default position */
    position: absolute;
    left: 16%;
    top: 23%;
  }

.show-circle-icon {
    /* Default position */
    position: absolute;
    left: 16%;
    top: 30%;
}

@media screen and (max-width: 768px) {

  
  .circle-icon, .show-circle-icon {
        /* Adjusted properties for mobile */
        position: absolute;
        left: 58%;
        top: 16%;
    }

    .show-circle-icon {
        /* Additional adjustments for .show-circle-icon if needed */
        left: 16%;
        top: 30%;
    }
}


