.navbar{
  box-shadow: 0px 0px 6px  rgba(0, 0, 0, 0.22);
  position: fixed;
  width: 100%;
  top: 0;
}

.offcanvas{
  // background-color: var(--tertiary);
}

.offcanvas-header{
  // background-color: var(--secondary);
  box-shadow: 0px 5px 6px  rgba(0, 0, 0, 0.22);
}


.primary-active:active{
  background-color: var(--primary);
}