.sidebar{  
  width: 18% !important;
  height: 100%; 
  position: fixed;
  padding-top: 60px;
  box-shadow: 2px 0px 6px rgba(0, 0, 0, 0.11);
}

.sidebar-side{
  position: relative;
  margin: auto;
  padding: 85px 22px 0px 22px;
  display: block; 
  margin-left: 18%;
}

.sidebar-menu-item {  
  border-radius: 0px !important;
}

.sidebar-menu-item-active {
  color: #ff0000 !important;
}