.sidebar{  
  width: 20% !important;
  height: 100%; 
  position: fixed;
  padding-top: 60px;
  box-shadow: 10px 0px 6px rgba(0, 0, 0, 0.11);
}

.sidebar-side{
  position: relative;
  margin: auto;
  top: 72px;
  display: block; 
  margin-left: 20%;
}

.sidebar-menu-item {  
  border-radius: 0px !important;
}
