@import "bootstrap";
@import "player_profile";


:root {
  --primary: #ff2323e8;
  --secondary: #333333;
  --tertiary: #999999;
  --quaternary: #fff;
}

.dashboard-table{
    width: 100%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-custom {
    color: var(--primary);
    border-color: var(--primary);
    margin: 2rem 0 2rem 0;
    width: 20%;
  }

.btn-custom:hover {
  background-color: var(--primary);
  color: var(--quaternary);
  border-color: var(--primary);
}

.sidebar{
  height: 100%;
  width: 15%;
  position: fixed;
  display: inline-block;
}

.sidebar-bg-custom{
  background-color: var(--secondary);}


.yield-content{
  margin: 50px 0 0 20%;
  display: inline-block; 
  width: 75%
}

.nav-link.active {
  background-color: var(--primary) !important; // Use !important to ensure your styles take precedence
}

.light-font {
  color: var(--quaternary)
}






/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

