<div class="sidebar <%= current_user&.user_setting&.dark_mode ? 'bg-dark' : 'bg-light'%>">

  <%= image_tag 'rugby-link-logo.png', style: "width:100%; max-height:250px; margin-top: 50px; margin-bottom: 50px;" %>

  <div class="list-group">
    <%= link_to 'Players', players_path, class: 'list-group-item list-group-item-action list-group-item-secondary' %>
  </div>
  
</div>
